<div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de clientes</h5>
    <div class="card-text">
      <div class="my-2 text-left" [routerLink]="['/clientes/form']">
        <button type="button" class="btn btn-rounded btn-success">Crear</button>
      </div>

      <div class="alert alert-info" *ngIf="clientes?.length == 0">
        No hay elementos para mostrar
      </div>
      <table class="table table-hover" *ngIf="clientes?.length > 0">
        <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Creación</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.creacion}}</td>
            <td>
              <button type="button" class="btn btn-primary" [routerLink]="['/clientes/form', cliente.id]">Editar</button>
              <button type="button" class="btn btn-danger" (click)="confirmDelete(confirmDeleteModal)">Eliminar</button>
              <ng-template #confirmDeleteModal>
                <div class="modal-body text-center">
                  <p>¿Eliminar?</p>
                  <button type="button" class="btn btn-default" (click)="delete(cliente);modalRef.hide()" >Sí</button>
                  <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
                </div>
              </ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
